@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Exo', sans-serif;
  color: #222;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 25px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 600%;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #33ccff;
  border: 1px solid #4dd2ff;
}

#fixedSpace {
  background: url(assets/spaceRev.png) no-repeat center center fixed;
  display: table;
  height: 60%
  position: relative;
  width: 100%;
  background-size: cover;
}

.modpack-text {
  color: white;
  text-align: center;
}

.modpack-text h1 {
  font-size: 500%;
  padding-bottom: .25em;
}

.modpackBreak {
  width: 5%; 
  border-bottom: 5px solid white; 
  border-radius: 5px;
}

.modpack-text a:link {
  color: #4dd2ff;
}

.modpack-text a:visited {
  color: #33ccff;
}

.modpack-text a:hover {
  color: #33ccff;
}

.modpack-text a:active {
  color: #33ccff;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-check-square {
  color: #99ff33;
}

.fa-rocket {
  color: #cc0000;
}

.fa-book {
  color: #996633;
}

.fa-check-square, .fa-rocket, .fa-book {
  font-size: 4em;
  margin: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-twitter-square {
  color: #1c9deb;
}

.fa-discord {
  color: #6077c6;
}

.fa-twitter-square:hover {
  color: #1289d3;
}

.fa-discord:hover {
  color: #4460bb;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
    text-shadow: 1px 1px 15px #000;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  
  .modpack-text h1 {
    font-size: 200%;
    padding-bottom: .25em;
  }
  
  .jumbotron {
  padding: 1rem;
  padding-top: 2.5rem;
  border-radius: 0;
  }
  
  .carousel-inner img {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  }
}

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








